@model H3ServersideProject.Models.User
@{
    ViewData["Title"] = "MyProfile";
}
<link rel="stylesheet" href="~/css/MyProfileStyle.css" />

<section>
    <div class="container py-5 mt-5 mb-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem; background-color: slategray !important;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom-profile text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="/lib/Pictures/BB.png"
                                 alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            <h5 style="color:dimgrey"><b></b>@Html.DisplayFor(model => model.Name)</h5>
                            <p class="mt-4"><a style="color:dimgray" asp-area="" asp-controller="MyProfile" asp-action="Logout">Log ud</a></p>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h4 class="text-white">Dine oplysninger</h4>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6 class="text-white">Email</h6>
                                        <p class="text-white"><b></b>@Html.DisplayFor(model => model.Email)</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6 class="text-white">Mobilnummer</h6>
                                        <p class="text-white"><b></b>@Html.DisplayFor(model => model.PhoneNumber)</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6 class="text-white">Adresse</h6>
                                        <p class="text-white"><b></b> @Html.DisplayFor(model => model.Address)</p>
                                    </div>
                                </div>
                                <hr class="mt-0 mb-4">
                                <div class="row">
                                    <div class="col-6">
                                        <h6><a text-white" style="color:black" asp-area="" asp-controller="UserOrders" asp-action="Orders">Se dine billetter</a></h6>
                                    </div>
                                    <div class="col-6">
                                        <h6><a text-white" style="color:black" asp-area="" asp-controller="MyProfile" asp-action="GetUserView">Opdater dine oplysninger</a></h6>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*
<section>
    <div class="container py-5 h-100">
        <!--Color til login - #d86502/#02D8D0 -->
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: slategray !important;">
                    <div class="card-body p-5 text-center">
                        <div class="mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Dine oplysninger</h2>
                            <hr>
                            <div class="border-1 border rounded-3 mt-4">
                                <h5 class="card-title border-1 border-bottom">Navn</h5>
                                <p class="card-text">
                                    <b></b> <br>@Html.DisplayFor(model => model.Name)
                                </p>
                            </div>

                            <br />

                            <div class="border-1 border rounded-3">
                                <h5 class="card-title border-1 border-bottom">Adresse</h5>
                                <p class="card-text">
                                    <b></b> <br>@Html.DisplayFor(model => model.Address)
                                </p>
                            </div>

                            <br />

                            <div class="border-1 border rounded-3">
                                <h5 class="card-title border-1 border-bottom">@Html.DisplayNameFor(model => model.Email)</h5>
                                <p class="card-text">
                                    <b></b> <br>@Html.DisplayFor(model => model.Email)
                                </p>
                            </div>

                            <br />

                            <div class="border-1 border rounded-3">
                                <h5 class="card-title border-1 border-bottom">Mobil Nummer</h5>
                                <p class="card-text">
                                    <b></b> <br>@Html.DisplayFor(model => model.PhoneNumber)
                                </p>
                            </div>
                            <br />
                            <h5 class="mt-3"><a class="nav-link text-white" asp-area="" asp-controller="MyProfile" asp-action="GetUserView">Opdater dine oplysninger</a> </h5>
                            <h5><a class="nav-link text-white" asp-area="" asp-controller="UserOrders" asp-action="Orders">Se dine billetter</a></h5>
                        </div>      
                        <h5 class="mt-4"><a class="nav-link text-white" asp-area="" asp-controller="MyProfile" asp-action="Logout">Log ud</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@